{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
    <title>Blog</title>
</head>
<body>
    <header>
        <div class="header">
            <h1 style="color: white;">BLOGGA</h1>
            <ul class="unlist">
                <li>Design Tools</li>
                <li>Daily Updates</li>
                <li>Tutorials</li>
                <li>Library</li>
            </ul>
            <button class="btn">Subscribe</button>
        </div>
        <div class="title">
            <p class="post-title">Insights about my personal and work life, and the in-betweens</p>
        </div>
    </header>
    <section>
        <h1 class="name">Design Tools</h1>
        {% for i in data %}
            <hr>
            <div class="all">
                <div class="card">
                    <div class="text">
                        <div class="row">
                            <div class="tools"><p class="tool-name">Design tools</p></div>
                            <div class="date">{{i.create_time|date}}</div>
                        </div>
                        <p class="heading">{{i.name}}</p>
                        <h5 class="content">{{i.text}}</h5>
                    </div>
                    <img src="{% static 'images/img.png' %}" alt="images">
                </div>
            </div>
        {% endfor %}
        
    </section>
</body>
</html>